body{
    margin: 0;
    padding:0;
    background: #ad877e;
}

.title-screen{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;   
    height: 100vh;  

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("images/titlepage.PNG");
    background-size: cover;
    background-position: center;
}

.play-button{
     position: absolute;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    /* TEMPORARY — adjust these later */
    top: 10%;         /* move down */
    left: 53%;        /* move to center horizontally */
    transform: translateX(-50%);   /* true horizontal centering */

    width: 1250px;  /* adjust to match your drawn button size */
}

.play-button img {
    width: 100%;
}
#game-screen{
    width: 100vw;
    height:100vh;

    background-image: url("images/gamebackground.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.hidden{
    display:none;
}

.order-icon {
  width: 80px;     /* adjust based on your art */
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.ingredient-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-list li img {
  width: 60px;     /* adjust for ingredient icons */
  height: auto;
}

.pantry-item {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;      /* instead of grab */
}

.pot-items img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
