body{
    margin: 0;
    padding:0;
    background: #ad877e;
}

.title-screen{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;   
    height: 100vh;  

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("images/titlepage.PNG");
    background-size: cover;
    background-position: center;
}

.play-button{
     position: absolute;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    /* TEMPORARY — adjust these later */
    top: 10%;         /* move down */
    left: 53%;        /* move to center horizontally */
    transform: translateX(-50%);   /* true horizontal centering */

    width: 1250px;  /* adjust to match your drawn button size */
}

.play-button img {
    width: 100%;
}
#game-screen{
    width: 100vw;
    height:100vh;

    background-image: url("images/gamebackground.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(47, 47, 47, 0.562);
}

.hidden{
    display:none;
}